<mat-form-field appearance="outline" style="width: 400px; padding-left: 30%; padding-top: 5%;">
    <input #word (keydown.enter)="getMeaning(word.value)" style="padding-left: 27%; font-weight: 500; font-size: large;" matInput placeholder="...Search keyword...">
</mat-form-field>
<br>
<mat-label style="padding-left: 30%; font-weight: 400; font-size: medium;">Meanings</mat-label>
<button mat-stroked-button style="margin-right: 30%; float: right;">
    Play
    <mat-icon>play_arrow</mat-icon>
</button>
<br><br>
<div *ngIf="wordInfo !== undefined" style="padding:0 30%;">
    <mat-list>
        <list-item *ngFor="let meaning of wordInfo[0].meanings">
            <mat-icon>arrow_right</mat-icon>
            <mat-label style="font-weight: 400; font-size: large;">{{ wordInfo[0].word }} ({{ meaning.partOfSpeech }})</mat-label><br>
            <span style="padding-left: 10%;">{{ meaning.definitions[0].definition }}</span>
            <br>
        </list-item>
    </mat-list>
</div>